<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
      <div I'd="header">
        <nav>
          <ul>
            <li class="fork"><a href="{{ '/' }}">首页</a></li>
            <li class="fork"><a href="{{ '/categorie.html' }}">分类</a></li>
            <li class="fork"><a href="{{ '/archive.html' }}">归档</a></li>
            <li class="fork"><a href="{{ '/tag.html' }}">标签</a></li>
	    <li class="fork"><a href="{{ '/markdown.html' }}">Markdown</a></li>
          </ul>
        </nav>
      </div><!-- end header -->
<!-- end custom head snippets -->
